
<div class="robots-container">
  
  <table>
  <thead>
    <tr>
      <th>
        <input type="checkbox" (click)="handleSelection($event)">
      </th>
      <th>
        Name
      </th>
      <th>Group</th>
      <th >
        <i class="material-icons" (click)="sortBy('machine')">arrow_drop_up</i> Machine
      </th>
      <th>
        <i class="material-icons" (click)="sortBy('tasks')">arrow_drop_up</i> Tasks
      </th>
      <th>
        Description
      </th>
      <th></th>

    </tr>
  </thead>
  
  <tbody *ngFor="let group of groups">
    <tr *ngIf="group.name != 'ungroupedRobots'"
    [class.odd]="isOdd"   
      [class.even]="isEven"
    >
    
      <td>
        <input type="checkbox" (click)="toggleRobotsInGroup($event, group)">
      </td>
      <td colspan="3">
        <i class="material-icons" (click)="group.isExpanded = !group.isExpanded">{{group.isExpanded? 'indeterminate_check_box' : 'add_box'}}</i>
        <b>{{ group.name }} ({{group.robots.length}} bots)</b>
      </td>
      <td>
        Hard task
      </td>
      <td></td>
      <td>
        <i class="material-icons">border_color</i>
      </td>
    </tr>
    <ng-container *ngIf="group.isExpanded">
      <tr *ngFor="let robot of group.robots; let isEven = even; let isOdd = odd;" robot [robot]="robot" [properties]="properties" [class.odd]="isOdd"
      [class.even]="isEven"></tr>
    </ng-container>
  </tbody>
  </table>
  <div class="robots-container__actions">
    <button (click)="openNewRobots()">
    <i class="material-icons">add</i>
  </button>
    <button (click)="removeRobots()">
    <i class="material-icons">remove</i>
  </button>
    <button (click)="regroup = true">
    Group
  </button>
</div>
<div *ngIf="newRobots" class='overlay'>
  <div class="add-robots">
    <h3>Available robots to add:</h3>
    <hr/>
    <ul *ngFor="let robot of robots">
      <li *ngIf="!robot.tasks">
        <label>
            <input type="checkbox" [(ngModel)]="robot.isSelected"> <i class="material-icons" [class.selected]="robot.isSelected">android</i> <span>{{ robot.name}}</span>
          </label>
      </li>
    </ul>

    <ng-container *ngIf="groups.length">
      <hr>
      <div>
        <p>Add the robot(s) into an existing group( optional )</p>
        <p>
          <select [ngModel]="selectedGroupForNewRobots" (ngModelChange)="selectedGroupForNewRobots=$event">
              <!--<option value="select">-</option>-->
              <option *ngFor="let group of groups" value={{group.name}} selected="group.name == 'ungroupedRobots'">{{ group.name== 'ungroupedRobots'? '-' : group.name}}</option>
          </select>
        </p>
      </div>
    </ng-container>

    <button class="btn" (click)="addRobots()">Add robots</button>
    <button class="btn btn--warning" (click)="newRobots = false">Cancel</button>
  </div>
</div>

<div *ngIf="regroup" class='overlay'>
  <div class="group-robots">
    <h3>Assign these robots to an available group</h3>
    <p>
          <select [ngModel]="selectedGroupForChange" (ngModelChange)="selectedGroupForChange=$event">
              <!--<option value="select">-</option>-->
              <option *ngFor="let group of groups" value={{group.name}} selected="group.name == 'ungroupedRobots'">{{ group.name== 'ungroupedRobots'? '-' : group.name}}</option>
          </select>
     </p>
     <button class="btn" (click)="assignRobotsToGroup()">Assign</button>
     <hr>
     <span>or</span>
     <h3>Create a new group</h3>
    <hr/>
    <input type="text" [(ngModel)]="newGroup">
    


    <button class="btn" (click)="createGroup()">Create Group and Assign Robots</button>
    <hr>
    <button class="btn btn--warning pull-right" (click)="regroup = false">Close window</button>
  </div>
</div>

</div>



