<table>
  <thead>
    <th>Name</th>
    <th>Value</th>
    <th>Created</th>
    <th>Accessed</th>
  </thead>
  <tbody>
    <tr>
      <td>Asset 1</td>
      <td> 234</td>
      <td> 3h ago</td>
      <td> 2:30h ago</td>
    </tr>
    <tr>
      <td>Asset 2</td>
      <td> 234</td>
      <td> 3h ago</td>
      <td> 2:30h ago</td>
    </tr>
    <tr>
      <td>Asset 3</td>
      <td> 234</td>
      <td> 3h ago</td>
      <td> 2:30h ago</td>
    </tr>
    <tr>
      <td>Asset 4</td>
      <td> 234</td>
      <td> 3h ago</td>
      <td> 2:30h ago</td>
    </tr>
  </tbody>
</table>