


<!--<resource-invoices></resource-invoices>
<resource-maps></resource-maps>-->

<tabs>
  <tab tabTitle="Invoice processing" tabIcon="">
    <resource-invoices></resource-invoices>
  </tab>
  <tab tabTitle="Process Maps" tabIcon="device_hub">
    <resource-maps></resource-maps>
  </tab>
  <tab tabTitle="Robots" tabIcon="android">
    <resource-robots></resource-robots>
  </tab>
  <tab tabTitle="Tasks" tabIcon="play_circle_outline">
    <resource-tasks></resource-tasks>
  </tab>
  <tab tabTitle="More" tabIcon="menu">    
      <tabs isSubTab="true">
        <div class="tab-subtab">
        <tab tabTitle="Queues">
          <resource-queues></resource-queues>
        </tab>
        <tab tabTitle="Assets">
          <resource-assets></resource-assets>
        </tab>
        <tab tabTitle="Logs">
          <h2>Logs resource</h2>
        </tab>
        <tab tabTitle="Transactions">
          <h2>Transactions resource</h2>
        </tab>
        <tab tabTitle="Audit">        
          <h2>Audit resource</h2>
        </tab>
        </div>
      </tabs>
  </tab>
</tabs>


