/* You can add global styles to this file, and also import other style files */

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(144,144,144,0.4);

    display: flex;
    align-items: center;
    justify-content: center;

}

.btn{
    &:hover{
        background-color: rgb(180,180,180);
    }
    &--warning{
        background-color: #FFCC80;
    }
}